body{
    font-family: 'Lato', sans-serif;
    background-color: #FCF3CF;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: black;

}
h4{
    text-align: center;
    font-size: 19px;
}
.imgprofile{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.sections{
    width: 60%;
    margin: 50px auto;
    border: 1px solid gray;
    box-shadow: 3px 2px 3px;
    border-radius: 10px;
    background-color: #FAD7A0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteneurimage{
    width: 15%;
    margin: 0 auto;
}
ul li a{
    text-decoration: none;
    transition: 0.5s ease;
    color: black;
}
ul li a:hover{
    color: blue;
    font-size: 18px;
    text-decoration: underline;

}
ul{
    list-style-type: none;
}
#logo{
    width: 40px; 
}
.img-circle{
    border-radius: 50%; 
}
.perfect-circle {
    width: 100px;
      height: 100px;
      border-radius: 50%;
  }
.btn-blue {
    background: #e1866b;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    margin: 20px 0;
    text-align: center;
}
